
<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Menu Principal</h1>
        <ul class="list-group mt-3">
            <li class="list-group-item"><a href="{% url 'listar_contatos' %}">Listar contatos</a></li>
            <li class="list-group-item"><a href="{% url 'adicionar_contato' %}">Adicionar contato</a></li>
            <li class="list-group-item"> <a href="{% url 'editar_contato' 'Nome do Contato' %}">Editar/Excluir contato</a></li>
            <li class="list-group-item"><a href="#">Sair</a></li>
        </ul>
    </div>

    <!-- Inclua os scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
